 <log4net>
   <logger name="LOGGER">
     <appender-ref ref="file"/>
   </logger>
   <appender name="file" type="log4net.Appender.RollingFileAppender">
     <datePattern value="dd.MM.yyyy'.log'" />
     <file value="logs\" />
     <appendToFile value="true" />
     <rollingStyle value="Size" />
     <maxSizeRollBackups value="5" />
     <maximumFileSize value="100MB" />
     <staticLogFileName value="false" />
     <rollingStyle value="Composite" />
     <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
     <layout type="log4net.Layout.PatternLayout">
       <conversionPattern value="%date %level %logger - %message%newline" />
     </layout>
   </appender>
 </log4net>